body{
    background-color: cornsilk; 
}
/*제목*/
.top {
    background-color: rgb(137, 170, 121);
    color: cadetblue;
    text-align: center;
}
/*소개 글*/
.introduction{
    height: 430px;
}

mark {
    background-color: coral;
}

/*목차*/
.index mark {
    background-color: aqua;
}
.index ol {
    background-color: rgb(176, 200, 207);
    width: 300px;
}
.index li {
    background-color: beige;
    margin-bottom: 10px;
}
.index li:hover {
    background-color: burlywood;
    color: chartreuse;
}
.index a:hover {
    color: white;
}
/*동아리 운영진*/
.mentor table {
    border: 3px solid blue; /*굵기 선종류 색상*/
}
.mentor table td {
    height: 50px;
    width: 100px;
    border: 3px dotted green;
    background-color:burlywood;
    text-align: center;
}
/*동아리 팀원*/
.group table {
    border: 1px solid blue; /*굵기 선종류 색상*/
    border-collapse: collapse;
    height: 50px;
    width: 100px;
    text-align: center;
}
.group tr:nth-child(odd) {
    background-color: #fff;
}

/*링크 이동*/
a:link {
    text-decoration-line: none;
}
a:hover{
    background-color: cornflowerblue;
    color: coral;
    text-decoration-line: underline ;
}

/*소사 캠퍼스*/
.school img{
    width: auto;
    height: 250px;
}